@model TwitterGiveawayPicker.Models.AuthResponse
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<label class="col">Bearer Token: @Model.access_token</label>